
<div class="split left">
  <div class="centered">
    <img src="./assets/Lighthouse.jpg" alt="Avatar woman">
    
  </div>
</div>



<div class="split right">
  <div class="centered">
<mat-card class="mat-login-card"> 
  <mat-card-header>
    <mat-card-title class=" mat-login-title">Login</mat-card-title>
  </mat-card-header>  
 <mat-card-content >
    <form [formGroup]="loginFrm">        
      <mat-form-field class="form-field">
        <mat-label> UserName
        </mat-label>
        <input matInput formControlName="userName" type="text">
        <mat-error *ngIf="userName?.hasError('required')">
              UserName is required.
        </mat-error>  

         <mat-error *ngIf="userName?.hasError('minlength')">
           UserName  should be minimum 6 characters.
        </mat-error>    
          <mat-error *ngIf="userName?.hasError('maxlength')">
           UserName  should be maximum 30 characters.
        </mat-error>     

      </mat-form-field>    

       
      <mat-form-field class="form-field">
        <mat-label> Password
        </mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="password?.hasError('required')">
              Password is required.
        </mat-error>  
         <mat-error *ngIf="password?.hasError('minlength')">
           Password  should be minimum 6 characters.
        </mat-error>    

         <mat-error *ngIf="password?.hasError('maxlength')">
           Passwrod  should be maximum 30 characters.
        </mat-error>      

      </mat-form-field>   
       
    
      <mat-card-actions>
      
       <button type="submit" class="mat-login-button" mat-raised-button color="primary" [disabled]="!loginFrm.valid" (click)="signIn()" >Login</button>
       <button type="button" class="mat-login-button" mat-raised-button color="accent" (click)="signUp()" >Registration</button>
      </mat-card-actions>
    </form>

      <mat-spinner *ngIf="isLogindIn"></mat-spinner>

 </mat-card-content>
 
</mat-card>

</div>
</div>


