<mat-card>
  <mat-card-header>
    <mat-card-title style="text-align: center; color:blue">Student Search Form</mat-card-title>
</mat-card-header>
<mat-card-content>
  <form [formGroup]="searchStudentForm">
    <mat-grid-list cols="2" rowHeight="100px" gutterSize="15px">
      <mat-grid-tile>
        <mat-form-field class="form-field">
          <mat-label> Student ID
          </mat-label>
          <input matInput formControlName="studentId" type="text"  placeholder="Enter Your StudentId">
        </mat-form-field>
      </mat-grid-tile>


    </mat-grid-list>

    <mat-card-actions>
    
<button mat-raised-button color="primary" type="submit" (click)="getStudentById()">Search</button>&nbsp;
<button mat-raised-button color="accent" type="button" (click)="clear()">Clear</button>



<div *ngIf="this.student===null">
  <h2 style="text-align: center; color:blue">No Records Found</h2>
</div>

<div *ngIf="isFlag && this.student!=null">
  <h3 align="center" style="color:blue ;">STUDENT DETAILS</h3>

<table mat-table [dataSource]="dataSource" matSort>


  <ng-container matColumnDef="studentId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-small-student">Student Id</th>
    <td mat-cell *matCellDef="let element">{{ element.studentId }}</td>
  </ng-container>

  <ng-container matColumnDef="studentName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-small-student">Name</th>
    <td mat-cell *matCellDef="let element">{{ element.studentName }}</td>
  </ng-container>

  <ng-container matColumnDef="fatherName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-small-student">Father Name</th>
    <td mat-cell *matCellDef="let element">{{ element.fatherName }}</td>
  </ng-container>

  <ng-container matColumnDef="motherName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-small-student">Mother Name</th>
    <td mat-cell *matCellDef="let element">{{ element.motherName }}</td>
  </ng-container>

  <ng-container matColumnDef="dateOfBirth">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-small-student">DOB</th>
    <td mat-cell *matCellDef="let element">{{ element.dateOfBirth |date: 'dd/MM/yyyy' }}</td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-small-student">Gender</th>
    <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
  </ng-container>

  <ng-container matColumnDef="className">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-small-student">Class Name</th>
    <td mat-cell *matCellDef="let element">{{ element.className }}</td>
  </ng-container>

  <ng-container matColumnDef="bloodGroupName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-small-student">Blood Group</th>
    <td mat-cell *matCellDef="let element">{{ element.bloodGroupName }}</td>
  </ng-container>


  <ng-container matColumnDef="fatherMobileNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-small-student">FatherMobile Number</th>
    <td mat-cell *matCellDef="let element">{{ element.fatherMobileNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="motherMobileNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-small-student">MatherMobile Number</th>
    <td mat-cell *matCellDef="let element">{{ element.motherMobileNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="religionName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-small-student">Religion</th>
    <td mat-cell *matCellDef="let element">{{ element.religionName }}</td>
  </ng-container>


  <ng-container matColumnDef="aadharCardNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-small-student">AadharNo</th>
    <td mat-cell *matCellDef="let element">{{ element.aadharCardNumber }}</td>
  </ng-container>


  <ng-container matColumnDef="contactAddress">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-small-student">Address</th>
    <td mat-cell *matCellDef="let element">{{ element.contactAddress }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-small-student">Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>

</mat-card-actions>
</form>

</mat-card-content>


</mat-card>