            
            <div class="app-sidenav-content" style=" background-color:aliceblue " >

                <div class="maleStudent" >
                    <h3>Male Student</h3>
                    <ul>
                        <ol>
                        <li *ngFor="let student of maleStudents">{{student.studentName|uppercase }}</li>
                        </ol>
                    </ul>

                </div>

               <div class="femaleStudent" >
                     <h3>Female Student</h3>                
                    <ul>
                        <ol>
                        <li *ngFor="let student of femaleStudents">{{ student.studentName|uppercase }}</li>
                        </ol>
                    </ul>

                </div>

                <div class="birthdayBabies">
                     <h3>BirthDay Babies</h3>               
                    
                    <ul>
                        <li *ngFor="let studentBirthDate of birthDayStudentList">{{studentBirthDate.studentName|uppercase}}
                    </ul>

                </div>


            </div>
            