/* Login Screen Start */
.mat-login-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 100px auto;
  border: 2px solid blue; 
  

}

.mat-table{
 
  margin-top:16px;
}

.mat-table th{ 
  background-color: lightskyblue;
  width:700px;
  max-width: 900px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: bold;
}

.mat-header-row,.mat-row{
  height:48px;
}

.mat-row:nth-of-type(odd){
    background-color: lightblue;
}

.mat-row:nth-of-type(even){
  background-color: honeydew;
}
.mat-blood-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 100px auto;
}

.mat-class-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 100px auto;
}

.mat-card-title-student{
  color: blue;
  font-size: 25px;
  
}

.student-radio-button{
 
    display: table-cell;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid gray !important;
    box-sizing: border-box;

}

.mat-register-card {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 100px auto;
}

ul,ol,li {
  list-style-type: square;   
 
 
}

.maleStudent{  
  width: 400px; 
  background-color:honeydew;
  border: 1px solid;
  border-color: green;
  text-align: center;
  color:blue;
  border-radius: 25px;
  height:400px;
  margin-right: 20px; 
 
}

.femaleStudent{
  width: 400px; 
  background-color:honeydew;
  border: 1px solid;
  border-color: green;
  text-align: center;
  color:crimson;
  border-radius: 25px;
  height:400px;
  margin-right: 20px; 
  
  

}


.birthdayBabies{
  width: 400px; 
  background-color:honeydew;
  border: 1px solid;
  border-color: teal;
  text-align: center;
  color:darkviolet;
  border-radius: 25px;
  height:400px;
  margin-right: 20px; 

}



.mat-register-title {
  color: blue;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  margin: auto
  
}

.mat-login-title {
  color: blue;
  font-size: 25px;
  text-align:center;

  
}

.mat-blood-title {
  color: blue;
  font-size: 25px;
  text-align: center;
}

.mat-class-title {
  color: blue;
  font-size: 25px;
  text-align: center;
}

.mat-login-button {
  width: 40%;
}

.mat-blood-button {
  width: 40%;
}

.mat-class-button {
  width: 40%;
}


.mat-class-student-add-button {
  width: 25%;
}



/*Login Screent End*/

mat-card {
  margin: 2%;
  text-align: left;
}

.mat-mdc-form-field {
  width: 98%;
  margin: 1%;
}

.form-field {
  width: 100%;
  margin-bottom: 16px;
}


.toolbar-item-spacer {
  flex: 1 1 auto;
}

.toolbar-position-fixed {
  position: fixed;
}

.sidenav-container {
  height: 100vh;
  margin: 0;
}
mat-sidenav {
  width: 250px;
}
.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/*Mat Table Column */

.column-small-bloodview{
 width:350px;
  color: blue;
  font-size: 20px;
  
}

.column-small-class{  
  color: blue;
  font-size: 20px;
  width:350px;
  
}

.column-studentId{ 
  font-size: 15px;
  width:500px;
  max-width: 700px;
    
}

.column-studentName{
  width:700px;
  max-width: 900px;
  font-size: 15px;
    
}

.column-studentFatherName{
  width:700px;
  max-width: 900px;
  font-size: 15px;
    
}

.mat-table td{
  width:700px;
  max-width: 1000px;
}

.column-studentMotherName{
  width:700px;
  max-width: 900px;
  font-size: 15px;
    
}

.column-studentDOB{
  width:700px;
  max-width: 900px;
  font-size: 15px;
}

.column-studentGender{
  width:690px;
  max-width: 700px;
  font-size: 15px;
}

.column-studentClassName{
   width:690px;
  max-width: 700px;
 font-size: 15px;
}

.column-studentBloodGroup{
     width:690px;
  max-width: 700px;
  font-size: 15px;

}
.column-studentFatherMobileNumber{
     width:690px;
  max-width: 700px;
 font-size: 15px;
}

.column-studentReligion{
      width:690px;
  max-width: 700px;
  font-size: 15px;
}

.column-studentAadharNo{
       width:690px;
  max-width: 700px;
  font-size: 15px;
}

.column-studentAddress{
        width:690px;
  max-width: 700px;
   font-size: 15px;
}

.column-studentEmail{
       width:690px;
  max-width: 700px;
  
  font-size: 15px;
}

.column-studentMotherMobileNumber{
      width:690px;
  max-width: 700px;
  font-size: 15px;
}

.column-studentActions{
  width:700px;
  max-width: 900px;
  font-size: 15px;
}


.close-button{
  position: right;
    top: 1px;
    background: none;
    border: none;
    color: red;
    font-size: 24px;
}





/*Mat Table */


.mat-snack-bar-container {
  background-color:aquamarine;/* Change background color */
  color: red;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: white
}

/* Control the right side */
.right {
  right: 0;
  background-color: honeydew;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 500px;
  border-radius: 50%;
}



