/* Login Screen Start */
.mat-login-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 100px auto;
  border: 2px solid blue; 
 
  

}

.mat-blood-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 100px auto;
}

.mat-class-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 100px auto;
}

.mat-card-title-student{
  color: blue;
  font-size: 25px;
  
}

.student-radio-button{
 
    display: table-cell;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid gray !important;
    box-sizing: border-box;

}

.mat-register-card {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 600px;
  margin: 100px auto;
}



.mat-register-title {
  color: blue;
  font-size: 25px;
  text-align: center;
}

.mat-login-title {
  color: blue;
  font-size: 25px;
  text-align:center;

  
}

.mat-blood-title {
  color: blue;
  font-size: 25px;
  text-align: center;
}

.mat-class-title {
  color: blue;
  font-size: 25px;
  text-align: center;
}

.mat-login-button {
  width: 40%;
}

.mat-blood-button {
  width: 40%;
}

.mat-class-button {
  width: 40%;
}


.mat-class-student-add-button {
  width: 25%;
}



/*Login Screent End*/

mat-card {
  margin: 2%;
  text-align: left;
}

.mat-mdc-form-field {
  width: 98%;
  margin: 1%;
}

.form-field {
  width: 100%;
  margin-bottom: 16px;
}


.toolbar-item-spacer {
  flex: 1 1 auto;
}

.toolbar-position-fixed {
  position: fixed;
}

.sidenav-container {
  height: 100vh;
  margin: 0;
}
mat-sidenav {
  width: 250px;
}
.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/*Mat Table Column */

.column-small-bloodview{
 width:350px;
  color: blue;
  font-size: 20px;
  
}

.column-small-class{
  width:350px;
  color: blue;
  font-size: 20px;
  
}

.column-small-student{
  width:1000px;
  color: blue;
  font-size: 20px;
    
}


.close-button{
  position: right;
    top: 1px;
    background: none;
    border: none;
    color: red;
    font-size: 24px;
}





/*Mat Table */


.mat-snack-bar-container {
  background-color:aquamarine;/* Change background color */
  color: red;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: white
}

/* Control the right side */
.right {
  right: 0;
  background-color: honeydew;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 500px;
  border-radius: 50%;
}
